:root {
    /*Primary color*/
    --bs-primary: #8604a7;
    --bs-primary-rgb: 134, 4, 167;
}
/*Table styles*/
.table th, .table td{
    border: 2px solid var(--bs-primary);
    --bs-table-striped-bg: #8604a741;
    --bs-table-striped-color: #000000;
}
.table td {
  padding: 0;
}

.table-input {
    background-color: transparent !important;
    text-align: left; 
    box-shadow: none !important;
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    /* rimuove frecce per numeri in firefox*/
    -moz-appearance: textfield;
}
/*rimuove frecce per numeri*/
.table-input::-webkit-outer-spin-button,
.table-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table-input:hover {
    outline: none;
    transform: scale(1.02); 
    box-shadow: 0 4px 10px rgb(0, 0, 0) !important;
    position: relative;
    z-index: 10;
    border-color: #8604a7;
    
}
.table-input:focus {
    outline: none !important; 
    background-color: transparent !important; 
    border: 1px solid #8604a7 !important;
}
/*round robin container*/

#roundRobinContainer {
    background-color: #8604a734;
    border: 1px solid #8604a775;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/*tabella risultati*/

#tabellaRisultati {
    text-align: center;
    font-weight: bold;
}

.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div-header-principale{
    width: 100%;
    height: 60px;
    background-color: white;
}
.header-principale{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: rgb(32, 32, 32);
}